Repository assimp/assimp, pull requests merged in 2020-07, with the labels that each got.

#3311 Added macros to enable/disable GLTF1 and GLTF2 independently
  code/AssetLib/glTF/glTFAsset.h
  code/AssetLib/glTF/glTFAssetWriter.h
  code/AssetLib/glTF/glTFExporter.h
  code/AssetLib/glTF/glTFImporter.cpp
  code/AssetLib/glTF2/glTF2Asset.h
  code/AssetLib/glTF2/glTF2AssetWriter.h
  code/AssetLib/glTF2/glTF2Exporter.h
  code/AssetLib/glTF2/glTF2Importer.cpp
  code/Common/Exporter.cpp
  code/Common/ImporterRegistry.cpp
Labels: glTF1.0, glTF2.0

#3329 Handle Gltf2 files where a value in a mesh index buffer is out of range.
  code/AssetLib/glTF2/glTF2Importer.cpp
  include/assimp/BaseImporter.h
  test/models/glTF2/IndexOutOfRange/AllIndicesOutOfRange.bin
  test/models/glTF2/IndexOutOfRange/AllIndicesOutOfRange.gltf
  test/models/glTF2/IndexOutOfRange/IndexOutOfRange.bin
  test/models/glTF2/IndexOutOfRange/IndexOutOfRange.gltf
  test/unit/utglTF2ImportExport.cpp
Labels: Improvement, glTF2.0

#3346 Fix warning: comparison between unsigned and signed.
  test/unit/utglTF2ImportExport.cpp
Labels: Bug, Build
