Repository assimp/assimp, pull requests merged in 2025-03, with the labels that each got.

#6045 ASE: Fix possible out of bound access.
  code/AssetLib/ASE/ASELoader.cpp
Labels: Bug, Fuzzer, ASE

#6046 MDL: Limit max texture sizes
  code/AssetLib/MDL/MDLMaterialLoader.cpp
Labels: Bug, MDL, Fuzzer

#6047 MDL: Fix overflow check
  code/AssetLib/MDL/MDLLoader.cpp
Labels: Bug, MDL, Fuzzer

#6048 Fix: Avoid override in line parsing
  include/assimp/ParsingUtils.h
Labels: Bug, API, Fuzzer

#6049 Bugfix: Fix possible nullptr dereferencing
  code/Common/SceneCombiner.cpp
Labels: Bug, API, Fuzzer

#6050 Potential fix for code scanning alert no. 63: Potential use after free
  code/AssetLib/glTF/glTFImporter.cpp
Labels: Bug, Security Risk

#6051 ASE: Use correct vertex container
  code/AssetLib/ASE/ASEParser.cpp
Labels: Bug, ASE, Security Risk

#6052 CMS: Fix possible overflow access
  code/AssetLib/CSM/CSMLoader.cpp
Labels: Bug, Security Risk, CSM

#6062 Fix Cinema4D Import
  code/AssetLib/C4D/C4DImporter.cpp
Labels: Bug, C4D

#6059 feat: created the aiGetStringC_Str() function.
  code/Material/MaterialSystem.cpp
Labels: Feature-Request, API
