Repository assimp/assimp, pull requests merged in 2025-08, with the labels that each got.

#6298 Fixed a `container-overflow` error
  contrib/openddlparser/code/OpenDDLParser.cpp
Labels: Fuzzer

#6317 Fix OOB read in OpenDDLParser::parseReference
  contrib/openddlparser/code/OpenDDLParser.cpp
Labels: Fuzzer, OpenDDL

#6326 Fixed a `heap-use-after-free` in `SortByPTypeProcess`.
  code/PostProcessing/SortByPTypeProcess.cpp
Labels: Postprocessing

#6267 test/unit/utProfiler.cpp: fix `gcc-16` build failure
  test/unit/utProfiler.cpp
Labels: Build
