Repository assimp/assimp, pull requests merged in 2025-06, with the labels that each got.

#6103 Fix export fbx: Wrong Materials in LayerElementMaterial if a node contains multi meshes
  code/AssetLib/FBX/FBXExporter.cpp
Labels: FBX, Export

#6091 Fix compile error when ASSIMP_DOUBLE_PRESICION enable
  code/AssetLib/Collada/ColladaParser.cpp
  test/unit/Common/utParsingUtils.cpp
Labels: Build

#6078 Updated Inner Cone formula for Spot Lights in GLTF
  code/AssetLib/glTF/glTFImporter.cpp
Labels: glTF1.0, Lights

#6224 Fixes CVE-2025-2751: Out-of-bounds Read in Assimp::CSMImporter::InternReadFile (closes #6012)
  code/AssetLib/CSM/CSMLoader.cpp
Labels: Bug, Fuzzer, Security Risk

#6090 Fix the function aiGetMaterialColor when the flag ASSIMP_DOUBLE_PRECISION is enabled
  code/Material/MaterialSystem.cpp
Labels: Materials

#6105 Fix: export fbx wrong to_ktime in FBXExporter.cpp
  code/AssetLib/FBX/FBXExporter.cpp
Labels: FBX, Export, Animation

#6237 bugfix: Fixed the memory leak when texture transforming (#6236)
  code/PostProcessing/TextureTransform.cpp
  code/PostProcessing/TextureTransform.h
Labels: Bug, Postprocessing
