Repository assimp/assimp, pull requests merged in 2025-04, with the labels that each got.

#6073 Fix set
  include/assimp/types.h
Labels: Bug, API

#6092 Not to export empty "LayerElementNormal" or "LayerElementColor" nodes to fbx
  code/AssetLib/FBX/FBXExporter.cpp
Labels: Bug, FBX

#6104 Use unique pointer to fix possible leak
  code/AssetLib/MD3/MD3Loader.cpp
  code/AssetLib/Obj/ObjFileParser.cpp
  code/AssetLib/Obj/ObjFileParser.h
Labels: Bug, Fuzzer

#6101 Refactoring of PR #6092
  code/AssetLib/FBX/FBXExporter.cpp
Labels: FBX, Export
